@font-face {
  font-family: "GG Sans";
  src: url("../resources/fonts/gg-sans-2/gg sans Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GG Sans";
  src: url("../resources/fonts/gg-sans-2/gg sans Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GG Sans";
  src: url("../resources/fonts/gg-sans-2/gg sans Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "GG Sans";
  src: url("../resources/fonts/gg-sans-2/gg sans Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: transparent;
  text-decoration: none;
  color: white;
  font-family: "GG Sans", sans-serif;
}

body {
  background-image: url(../resources/background.svg);
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.logo {
  padding: 48px;
}

.login-container {
  padding: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 57%;
  background-color: #323339;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.login-form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.welcome-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.welcome-text h1 {
  font-weight: 600;
  font-size: 1.4rem;
}

.welcome-text p,
.form p,
.qr p {
  font-size: 1rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}

label{
  
}

.qr{
  width: 40%;
}